<% provide(:page_title, 'All Posts') %>
<% provide(:user, 'active') %>

<div class="row">
	<div>
		<%= link_to 'New Post', new_users_post_path, class: 'btn btn-sm btn-primary' %>
	</div>
	<br>
	<br>
	<table class="table table-striped">
		<tr>
			<th colspan="5">Title</th>
		</tr>
  	<%= render @posts %>
	</table>
</div>